params.outdir = null


// Config to test with Azure 
// plugins {
//   id 'nf-azure'
// }
// 
// process.executor = 'azurebatch'
// workDir = 'az://<YOUR DATA CONTAINER>/work'
// 
// azure {
//   batch {
//     location = 'westeurope'
//     accountKey = "<YOUR STORAGE ACCOUNT KEY>"
//     accountName = "<YOUR STORAGE ACCOUNT KEY>"
//   }
//   storage {
//     endpoint = 'https://<YOUR BATCH ACCOUNT NAME>.westeurope.batch.azure.com'
//     accountName = '<YOUR BATCH ACCOUNT NAME>'
//     accountKey = '<YOUR BATCH ACCOUNT KEY>'
//   }
// }
