plugins {
  id 'nf-azure'
}

// Use container for process execution
// process.container = "docker.io/library/alpine:3.19.0"

// Use Azure storage
// azure {
//   storage {
//     accountName = '<YOUR STORAGE ACCOUNT NAME>'
//     accountKey = '<YOUR STORAGE ACCOUNT KEY>'
//   }
// }

// Use AWS storage
// aws {
//     accessKey = '<Your AWS access key>'
//     secretKey = '<Your AWS secret key>'
//    region = '<AWS region identifier>'
// }